@{
    ViewData["Title"] = "Home Page";
}

<div class="chat-body">
    <div class="message">
        <header>Anton:</header>
        <p>This is a test msg</p>
        <footer>15:00</footer>
    </div>
</div>
 <div class="chat-input">
     <input type="text" />
     <button>send</button>
 </div>
